[defaults]
inventory = ./hosts
stdout_callback = ansible.builtin.default
callbacks_enabled = ansible.posix.profile_tasks

# Use YAML format for output (replaces removed community.general.yaml callback)
[callback_default]
result_format = yaml

;; install external dependencies in project-local folder
;; https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-roles-path
roles_path = ./roles:/usr/share/ansible/roles:/etc/ansible/roles
;; https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-paths
collections_paths = ./ansible_collections:/usr/share/ansible/collections
