---
- name: Install and configure Oh My Zsh
  block:
    - name: Check if Oh My Zsh is already installed
      ansible.builtin.stat:
        path: '{{ ansible_env.HOME }}/.oh-my-zsh'
      register: ohmyzsh_stat

    - name: Download and install Oh My Zsh
      ansible.builtin.shell: |
        RUNZSH=no CHSH=no sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
      when: not ohmyzsh_stat.stat.exists

    - name: Disable Oh My Zsh theme (using Starship instead)
      ansible.builtin.lineinfile:
        path: '{{ ansible_env.HOME }}/.zshrc'
        regexp: '^ZSH_THEME='
        line: 'ZSH_THEME=""  # Disabled - using Starship prompt'

    - name: Configure Oh My Zsh plugins
      ansible.builtin.lineinfile:
        path: '{{ ansible_env.HOME }}/.zshrc'
        regexp: '^plugins='
        line: 'plugins=(git brew docker kubectl)'

    - name: Ensure .zshrc sources .zprofile for brew shellenv
      ansible.builtin.blockinfile:
        path: '{{ ansible_env.HOME }}/.zshrc'
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Source .zprofile"
        insertbefore: '^source \$ZSH/oh-my-zsh.sh'
        block: |
          # Source .zprofile to ensure Homebrew is in PATH
          if [ -f ~/.zprofile ]; then
            source ~/.zprofile
          fi
