---
# See https://docs.github.com/en/authentication/connecting-to-github-with-ssh/checking-for-existing-ssh-keys for documented list of accepted keys
- name: Set up SSH key if missing
  block:
  - name: Check for existence of id_rsa GitHub supported public SSH keys file
    ansible.builtin.stat:
      path: '{{ ansible_env.HOME }}/.ssh/id_rsa'
    register: id_rsa_ssh_key

  - name: Check for existence of id_ed25519 non-rsa GitHub supported public SSH keys file
    ansible.builtin.stat:
      path: '{{ ansible_env.HOME }}/.ssh/id_ed25519'
    register: id_ed25519_ssh_key

  - name: Check for existence of id_ecdsa non-rsa GitHub supported public SSH keys file
    ansible.builtin.stat:
      path: '{{ ansible_env.HOME }}/.ssh/id_ecdsa'
    register: id_ecdsa_ssh_key

  - name: 'Create {{ ansible_env.HOME }}/.ssh/ if it does not exist'
    ansible.builtin.file:
      path: '{{ ansible_env.HOME }}/.ssh'
      state: directory
      mode: '0700'

  - name: Generate an OpenSSH key pair with default values (4096 bits, RSA)
    community.crypto.openssh_keypair:
      path: '{{ ansible_env.HOME }}/.ssh/id_rsa'
      type: rsa
      size: 4096
    when:
      - not id_rsa_ssh_key.stat.exists
      - not id_ed25519_ssh_key.stat.exists
      - not id_ecdsa_ssh_key.stat.exists
